<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Pokedex</h1>
    <h2><%= pokemon.name %></h2>
    <a href="/pokemon"><h3>Go Back to Index</h3></a>
    <a href="/pokemon/<%= index %>/edit"><button>Edit</button></a>
    <main>
        <h3 id="type">Type:</h3>
        <ul><% for(let i=0; i<pokemon.type.length; i++){ %>
            <li><%= pokemon.type[i] %></li>
        <% } %>
        </ul>
        <h3 id="stats">Stats:</h3>
        <ul>
            <li>HP: <%= pokemon.stats.hp %></li>
            <li>Attack: <%= pokemon.stats.attack %></li>
            <li>Defense: <%= pokemon.stats.defense %></li>
            <li>Spattack: <%= pokemon.stats.spattack %></li>
            <li>Spdefense: <%= pokemon.stats.spdefense %></li>
            <li>Speed: <%= pokemon.stats.speed %></li>
        </ul>
        <img src="<%= pokemon.img %>">
    </main>
</body>
</html>